@import '../../styles/variable.less';

.cr-input {
  position: relative;
  display: inline-block;
  width: 100%;
  &.is-disabled .cr-input-inner{
    cursor: not-allowed;
    background-color: #f5f7fa;
    border-color: #e4e7ed;
    color: #c0c4cc;
  }
  &:hover:not(.is-disabled) .cr-input-inner{
    border-color: @hover_border_color;
  }
  .cr-input-inner {
    padding: 0 15px;
    border-style: solid;
    border-color: #dcdfe6;
    border-width: 1px;
    border-radius: 4px;
    color: @base_color;
    transition: all .18s;
    box-sizing: border-box;
    width: 100%;
    cursor: pointer;
    &:focus {
      border-color: @primary;
    }
  }
  & ~ .cr-input {
    margin-left: 15px;
  }
}

.cr-input__large .cr-input-inner{
  height: @largeHeight;
  line-height: @largeHeight;
}

.cr-input__medium .cr-input-inner{
  height: @mediumHeight;
  line-height: @mediumHeight;
}

.cr-input__small .cr-input-inner{
  height: @smallHeight;
  line-height: @smallHeight;
}

.cr-input__mini .cr-input-inner{
  height: @miniHeight;
  line-height: @miniHeight;
}

.cr-input-suffix .cr-input-inner {
  padding-right: 30px;
}

.cr-input__suffix {
  text-align: center;
  height: 100%;
  position: absolute;
  right: 5px;
  top: 0;
  bottom: 0;
  width: 25px;
}